*{
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color:rgb(247, 244, 244);
    padding-bottom: 1em ;
}

h1{
   padding-top:0.67rem;
   margin:0;
   color:crimson;
   font-family: 'Roboto Slab', serif;
}

h1, h4, h5{
    text-align:center;
}

h4{
    font-size: 130%;
}

h5{
    margin: 3rem;
    font-weight: bold;
    font-size: 100%
}

ul{
    padding: 0;
    list-style: none;
    text-align: center;
}

li{
    display: block;
    background-color: white;
    padding: .7rem;
    margin: 0.25rem 1rem 0.25rem;
}


a{
    text-decoration: none;
    color: black;
}

a:hover {
    color: blue;
  }

p{
    text-align:center;
    padding: 0 1.25rem .75rem;
    margin-bottom: 2rem;
}

img{
    display:block;
    width: 95%;
    margin:auto;
}

.lana{
    display:block;
    width: 33%;
}

.profile-image{
    display: block;
    max-width: 75%;
    margin-top: 2rem;
}

.container{
    margin: 0 auto;
    width: 100%;
    height:100%;
}

hr.line-break{
    width: 85%;
    border: 1px solid grey;

}

.backtop, .studentname{
    display: inline-block;
    font-weight: bold;
    font-size: 0.950em;
    padding: 0;
    margin-bottom: 2em;
    width: 150px;
}


#contact{
    padding-top: 1.25rem;
}

footer{
    background-color:rgb(247, 244, 244);
}

.footer-nav{
    display: none;
}

/* Media Queries*/

@media screen and (min-width: 768px){

.container{
    width:100%;
}

li{
    display:inline;
    background-color: inherit;
    font-weight: bold;
}

.profile-image{
    float: right;
    width: 33%;
    margin: 2rem 1.5rem 0;

}

.intro-text{
    text-align: left;
    font-size: 140%;
    width: 60%;
    padding: 1rem 0rem 3rem 2rem;
}

.profile-image, .intro-text{
    display: inline-block;

}

.project{
    display:block;
    float: left;
    width: 45%;
    margin: 19px;
}

.footer-note{
    padding: 0px 9rem;
}

footer{
    display:inline-block;
}

.backtop{
    display: none;
}

.footer-nav{
    display: inline-flex;
}
.studentname{
    width: 227px;
    margin-right: 2%;
}
}

@media screen and (min-width: 1024px){

.container{
    width:100%;
}

h1{
    display: inline-block;
    font-size: 23px;
    padding: 50px 50px;
    margin-right: 23%;
    font-weight: bold;
}

.main-nav{
    display: inline-block;
}

.profile-image{
    margin: 0 38px 0 0;
}


.project{
    display:block;
    float: left;
    width: 29%;
    margin: 19px;
}

.footer-note{
    padding: 0 17rem 1rem;
    font-size: 120%;
}

.studentname{
    width: 227px;
    margin-right: 26%;
}

.footer-nav{
    display: inline-block;
}

}


